services:
  react-app:
    image: node:22
    tty: true
    working_dir: /app
    volumes:
      - ./app:/app
    ports:
      - '8081:8081'
  backend:
    build: ./backend
    container_name: backend
    ports:
      - "5000:5000"
    depends_on:
      - mongodb
    volumes:
      - ./backend:/app

  mongodb:
    image: mongo:6
    container_name: mongodbalc
    ports:
      - "27017:27017"
    volumes:
      - mongodb_data:/data/db
  
volumes:
  mongodb_data:
